{% extends 'layout1.html' %} 

{% block title %} 
<title>图书批量入库</title>
{% endblock %}

{% block content %} 
<h1><strong><center>图书批量入库</center></strong></h1>
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">图书批量入库</h3>
        </div>
        <div class="panel-body">
           
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div style="margin-bottom:60px" ><center><input type="file"   class="btn btn-lg" name="newbooks">
                <div style="margin-bottom:20px"> </div>
                <input type="submit"  class="btn btn-primary" value="提交"></center></div>
            </form> 
            <center><p><h4>Note: 上传文件仅支持txt，格式如下</h4></p></center>
            <center><p>Sample: (book_no_1, Computer Science, Computer Architecture, xxx, 2004, xxx, 90.00, 2)</p></center>
        </div>
    </div>
</div>
<center><span style="color:red;">{{error_msg}}</span></center>
{% endblock %} 