{% extends 'layout1.html' %}

{% block title %}
<title>借阅图书</title>
{% endblock %}

{% block content %}
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">借阅图书</h3>
        </div>
        <div class="panel-body">
            <form method="post" novalidate>
                {% csrf_token %}
                <div class="form-group">
                    <label>卡号</label>
                    <input type="text" name="nid" class="form-control" value="{{ nid }}" id="id_cno">
                    <!-- <span style="color: red;"></span> -->
                </div>
                <div class="form-group">
                    <label>书号</label>
                    {{ form.bno }}
                    <!-- <span style="color: red;">{{ form.bno.errors.0 }}</span> -->
                </div>
                <div class="form-group">
                    <label>借期(YYYY-MM-DD)</label>
                    {{ form.borrow_date }}
                    <!-- <span style="color: red;">{{ form.borrow_date.errors.0 }}</span> -->
                </div>
                <div class="form-group">
                    <label>预计还期(YYYY-MM-DD)</label>
                    {{ form.return_date }}
                    <!-- <span style="color: red;">{{ form.return_date.errors.0 }}</span> -->
                </div>
                <center><button type="submit" class="btn btn-primary">借阅</button></center>
            </form>
            <span style="color: red;">{{ form.errors }}</span>
        </div>
    </div>
    <center><span style="color:red;"><h4>{{error_msg}}{{date}}</h4></span></center>
    <center><span style="color:green;"><h4>{{suc_msg}}</h4></span></center>
</div>
{% endblock %}