{% extends 'layout.html' %}

{% block content %}
<div>
  <div class="container">
    <!--查询按钮 -->
    
      <div class="input-group input-group-lg">
        <div class="input-group-btn">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">查找属性 <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><a href="#">书名</a></li>
            <li><a href="#">作者</a></li>
            <li><a href="#">出版社</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </div>

        <input type="text" class="form-control" aria-label="Text input with segmented button dropdown">
        <div class="input-group-btn">
          <button type="button" class="btn btn-default">搜索</button>
          <!-- <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <ul class="dropdown-menu dropdown-menu-right">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul> -->
        </div><!-- /.input-group -->
      </div>
    </div>

    <!-- <div class="container"> -->

    <!-- 表格面板 -->
    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">
        <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
        图书列表
      </div>

      <!-- Table -->
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>书号&nbsp;&nbsp;
              <a class="btn btn-info btn-xs" href="/{{ queryset }}/bno/up/">
                <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
              </a>
              <a class="btn btn-primary btn-xs" href="bno/down/">
                <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
              </a>
              </th>
            <th>类别&nbsp;&nbsp;
              <a class="btn btn-info btn-xs" href="#">
                <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
              </a>
              <a class="btn btn-primary btn-xs" href="#">
                <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
              </a></th>
            <th>书名&nbsp;&nbsp;
                <a class="btn btn-info btn-xs" href="/{{ queryset }}/bno/up/">
                  <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
                </a>
                <a class="btn btn-primary btn-xs" href="bno/down/">
                  <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
                </a>
            </th>
            <th>出版社&nbsp;&nbsp;
              <a class="btn btn-info btn-xs" href="#">
                <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
              </a>
              <a class="btn btn-primary btn-xs" href="#">
                <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
              </a></th>
            <th>作者&nbsp;&nbsp;
              <a class="btn btn-info btn-xs" href="#">
                <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
              </a>
              <a class="btn btn-primary btn-xs" href="#">
                <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
              </a></th>
            <th>年份&nbsp;&nbsp;
              <a class="btn btn-info btn-xs" href="#">
                <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
              </a>
              <a class="btn btn-primary btn-xs" href="#">
                <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
              </a></th>
            <th>年份&nbsp;&nbsp;
              <a class="btn btn-info btn-xs" href="#">
                <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
              </a>
              <a class="btn btn-primary btn-xs" href="#">
                <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
              </a></th>
            <th>数量&nbsp;&nbsp;
              <a class="btn btn-info btn-xs" href="#">
                <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
              </a>
              <a class="btn btn-primary btn-xs" href="#">
                <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
              </a></th>
          </tr>
        </thead>
        <tbody>
          {% for obj in queryset %}
          <tr>
            <th>{{ obj.bno }}</th>
            <td>{{ obj.type }}</td>
            <td>{{ obj.title }}</td>
            <td>{{ obj.publisher }}</td>
            <td>{{ obj.author }}</td>
            <td>{{ obj.year}}</td>
            <td>{{ obj.price }}</td>
            <td>{{ obj.stock }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}