{% extends 'layout1.html' %} 

{% block title %} 
<title>入库成功</title>
{% endblock %}

{% block content %} 
<div class="container">
    <div class="alert alert-success" role="alert">
        <div style="margin-bottom:60px" ><center> </center></div>
         <div style="margin-bottom:60px" ><center><h1><strong>入 库 成 功</strong></h1></center></div>
        <div style="margin-bottom:40px"><center><a class="btn btn-default btn-lg" href="/book/add/" role="button">继续入库</a></center></div>
    </div>
</div>
{% endblock %}