{% extends 'layout1.html' %}

{% block title %}
<title>图书查询</title>
{% endblock %}

{% block content %}
<h1><strong>
        <center>图书查询</center>
    </strong></h1>
<div style="margin-bottom:30px"> </div>
<div class="container">
    <form method='GET'>
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-2">
                <div class="input-group">
                    <span class="input-group-btn">
                        <button class="btn btn-info" type="button">书号</button>
                    </span>
                   <input type="text" class="form-control" name="b" placeholder=" " value="{{ search_b }}">
                </div><!-- /input-group -->
            </div>
            <div class="col-lg-2">
                <div class="input-group">
                    <span class="input-group-btn">
                        <button class="btn btn-info" type="button">书名</button>
                    </span>
                   <input type="text" class="form-control" name="t" placeholder=" " value="{{ search_t }}">
                </div><!-- /input-group -->
            </div>
            <div class="col-lg-2">
                <div class="input-group">
                    <span class="input-group-btn">
                        <button class="btn btn-info" type="button">作者</button>
                    </span>
                    <input type="text" class="form-control" name="a" placeholder=" " value="{{ search_a }}">
                </div><!-- /input-group -->
            </div><!-- /.col-lg-6 -->
            <div class="col-lg-2">
                <div class="input-group">
                    <span class="input-group-btn">
                        <button class="btn btn-info" type="button">出版社</button>
                    </span>
                    <input type="text" class="form-control" name="p" placeholder=" " value="{{ search_p }}">
                </div><!-- /input-group -->
            </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->
        <div style="margin-bottom:20px"> </div>
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-2">
                <div class="input-group">
                    <span class="input-group-btn">
                        <button class="btn btn-info" type="button">价格下限</button>
                    </span>
                    <input type="text" class="form-control" name="pl" placeholder=" "
                        value="{{ search_pl }}">
                </div><!-- /input-group -->
            </div><!-- /.col-lg-6 -->
            <div class="col-lg-2">
                <div class="input-group">
                    <span class="input-group-btn">
                        <button class="btn btn-info" type="button">价格上限</button>
                    </span>
                    <input type="text" class="form-control" name="pr" placeholder=" "
                        value="{{ search_pr }}">
                </div><!-- /input-group -->
            </div><!-- /.col-lg-6 -->
            <div class="col-lg-2">
                <div class="input-group">
                    <span class="input-group-btn">
                        <button class="btn btn-info" type="button">最早年份</button>
                    </span>
                    <input type="text" class="form-control" name="yl" placeholder=" "
                        value="{{ search_yl }}">
                </div><!-- /input-group -->
            </div><!-- /.col-lg-6 -->
            <div class="col-lg-2">
                <div class="input-group">
                    <span class="input-group-btn">
                        <button class="btn btn-info" type="button">最晚年份</button>
                    </span>
                    <input type="text" class="form-control" name="yr" placeholder=" "
                        value="{{ search_yr }}">
                </div><!-- /input-group -->
            </div><!-- /.col-lg-6 -->
            <button class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-search"
                aria-hidden="true"></span>  搜 索</button>
        </div><!-- /.row -->
        <div style="margin-bottom:20px"> </div>
        
        <div >
            <label class="radio-inline">
                <input type="radio" name="order" value="bno_1"> 书号升序
            </label>
            <label class="radio-inline">
                <input type="radio" name="order" value="bno_2"> 书号降序
            </label>
            <label class="radio-inline">
                <input type="radio" name="order" value="title_1"> 书名升序
            </label>
            <label class="radio-inline">
                <input type="radio" name="order" value="title_2"> 书名降序
            </label>
            <label class="radio-inline">
                <input type="radio" name="order" value="year_1"> 年份升序
            </label>
            <label class="radio-inline">
                <input type="radio" name="order" value="year_2"> 年份降序
            </label>
            <label class="radio-inline">
                <input type="radio" name="order" value="price_1" > 价格升序
            </label>
            <label class="radio-inline">
                <input type="radio" name="order" value="price_2"> 价格降序
            </label>
            <label class="radio-inline">
                <input type="radio" name="order" value="total_1" > 总藏书量升序
            </label>
            <label class="radio-inline">
                <input type="radio" name="order" value="total_2"> 总藏书量降序
            </label>
            <label class="radio-inline">
                <input type="radio" name="order" value="stock_1" > 库存升序
            </label>
            <label class="radio-inline">
                <input type="radio" name="order" value="stock_2"> 库存降序
            </label>
        </div>

    </form><!-- 表格面板 -->
       


    <div style="margin-bottom:20px"> </div>
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">
            <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
            图书列表
        </div>

        <!-- Table -->
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>书号</th>
                    <th>类别</th>
                    <th>书名</th>
                    <th>出版社</th>
                    <th>作者</th>
                    <th>年份</th>
                    <th>价格</th>
                    <th>总藏书量</th>
                    <th>库存</th>
                </tr>
            </thead>
            <tbody>
                {% for obj in queryset %}
                <tr>
                    <th>{{ obj.bno }}</th>
                    <td>{{ obj.type }}</td>
                    <td>{{ obj.title }}</td>
                    <td>{{ obj.publisher }}</td>
                    <td>{{ obj.author }}</td>
                    <td>{{ obj.year}}</td>
                    <td>{{ obj.price }}</td>
                    <td>{{ obj.total }}</td>
                    <td>{{ obj.stock }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</div>
</div>




{% endblock %}