{% extends 'layout1.html' %}

{% block title %} 
<title>新建借书证</title>
{% endblock %}

{% block content %}
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">新建借书证</h3>
        </div>
        <div class="panel-body">
            <form method="post" novalidate>
                {% csrf_token %}

                {% for field in form %}
                <div class="form-group">
                    <label>{{ field.label }}</label>
                    {{ field }}
                    <span style="color:red;">{{ field.errors.0 }}</span>
                    {% endfor %}
                </div>
                <center><button type="submit" class="btn btn-primary">创建</button></center>
            </form>
        </div>
    </div>
</div>
{% endblock %}